.back {
	display: inline-block;
	height: 1.5rem;
	padding: 0 .5rem;
	background: white;
	border: 0.1rem solid black;
	border-radius: 0.5rem;
	-moz-border-radius: 0.5rem;
	position: absolute;
	top: 1rem;
	left: 1rem;
	text-align: center;
	
	p {
		line-height: 1.5rem;
		margin: 0;
		font-size: 1rem;
	}
}
