html, body {
	height: 100%;
}

.amap-loading-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.3);

	.amap-loading {
		margin: 0 auto;
		margin-top: 50%;
		position: relative;
		max-width: 8rem;
		height: 2rem;
		background: white;
		border: 0.1rem solid white;
		border-radius: 0.5rem;
		-moz-border-radius: 0.5rem;
		padding: 0 2rem;
		box-shadow: 0 0.3rem 1.4rem rgba(0, 0, 100, 0.6);
		z-index: 200;
		text-align: center;
		box-sizing: content-box;		

		p {
			white-space:nowrap;
			font-size: .8rem;
			line-height: 2rem;
		}
	}
}
