html, body {
	height: 100%;
}

.login-page {
	height: 100%;
	background: rgb(31, 41, 51);
	text-align: center;
}

.login-wrapper {
	margin-top: 40%;
	color: white;
	display: inline-block;
	width: 80%;
	border: 0.3rem solid gray;
}

.login-tb {
	margin: 0 auto;

	.label {
		text-align: right;
	}
}

.btn-wrapper {
	display: inline-block;
	width: 100%;
	text-align: center;

	button {
		margin: 1rem 2rem;
	}
}
