body, html, #app, #map, .map-wrapper {
	height: 100%;
	margin: 0px;
	font: 10 Arial;
}

.back {
	display: inline-block;
	height: 2rem;
	width: 4rem;
	background: white;
	border: 0.1rem solid black;
	border-radius: 0.5rem;
	-moz-border-radius: 0.5rem;
	position: absolute;
	top: 1rem;
	left: 1rem;
	text-align: center;
	
	p {
		display: relative;
		line-height: 2rem;
		margin: 0;
	}
}

.amap-loading-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.3);

	.amap-loading {
		margin: 0 auto;
		margin-top: 50%;
		position: relative;
		max-width: 8rem;
		height: 3rem;
		background: white;
		border: 0.1rem solid white;
		border-radius: 0.5rem;
		-moz-border-radius: 0.5rem;
		padding: 0 3rem;
	}
}
