.search-wrapper {
	background: white;
	text-align: center;
	padding: .5rem 0;
	
	input {
		border: .1rem solid rgba(0, 0, 0, 0.3);
		font-size: 1rem;
	}

	span {
		display: inline-block;
		width: 2.5rem;
		height: 1.2rem;
		line-height: 1.2rem;
		margin: 0 1rem;
		border: .1rem solid rgba(0, 0, 0, 0.3);
		background: white;
	}
}
