.search-wrapper {
	padding: .2rem 0;
	
	input {
		border: .1rem solid rgba(0, 0, 0, 0.3);
		font-size: .9rem;
		height: 2rem;
		box-sizing: border-box;
	}

	button {
		height: 1.8rem;
		background: rgba(0, 0, 0, 0.1);
		border: .1rem solid rgba(0, 0, 0, 0.3);
		outline: 0;
	}
}
