.tab-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	display: inline-block;
	height: 4rem;
	box-sizing: border-box;
	border-bottom: .1rem solid rgba(0, 0, 0, 0.1);
	width: 100%;
	z-index: 30;

	.tab {
		display: inline-block;
		width: 50%;
		color: black;
		text-align: center;
		line-height: 3.8rem;
		box-sizing: border-box;
		background: rgb(250, 250, 250);
		z-index: 30;
	}

	.active {
		border-bottom: .1rem solid blue;
	}
}
